[include mainsail.cfg]
;[include sovol-macros.cfg]
[include macros.cfg]
[include Test_speed.cfg]
[include GP3D_Macro.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN
[include options/leds.cfg]

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION

# IF YOU ARE USING THE SCREEN THAT COMES WITH THE SV08
[include options/lcd/*.cfg]

# IF YOU HAVE KLIPPERSCREEN / AN HDMI DISPLAY ATTACHED TO YOUR PRINTER
# [include options/hdmi/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the first and uncomment the second,
# then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg
#[include options/probe/stock.cfg]
#[include options/probe/eddy.cfg]
[include options/probe/eddy_new.cfg]

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.

[force_move]
enable_force_move: True

[mcu]      
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_34FFDA05334D593527750851-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_31FF6D0630464E3242420643-if00
restart_method: command     

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 600            
max_accel: 20000             
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[skew_correction] 

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1 #1.5
#hold_current: 1.061 #1.5            
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 72 #65
diag_pin: PE15
;driver_TBL: 1
;driver_TOFF: 3
;driver_HSTRT: 7
;driver_HEND: 5

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1 #1.5
#hold_current: 1.061 #1.5             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 85 #75 #65
diag_pin: PE13
;driver_TBL: 1
;driver_TOFF: 3
;driver_HSTRT: 7
;driver_HEND: 5 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -10              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.50 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150       
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current: 0.50 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150  
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.50 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150   
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true             
run_current: 0.50 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 64                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150
max_extrude_cross_section: 5
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: False #True             
run_current: 0.8
#hold_current: #0.8            
uart_address:3
sense_resistor: 0.150
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8         

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
;[probe]
#z_offset: 0

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

[fan_generic exhaust_fan] # exhaust fan
pin: PA2
max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
;[controller_fan MCU_fan]
;pin: PA1
;max_power: 1
;;kick_start_time: 0.5
;fan_speed: 1
;idle_timeout: 300
;heater: extruder, heater_bed
;stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 60
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.0
;control: pid
;pid_Kp: 2.0     ;40
;pid_Ki: 5.0     ;0.2
;pid_Kd: 0.5     ;0.1
;pid_deriv_time: 2.0
control: watermark # use this control if pid control does not work for your fan

[controller_fan extra_controller_fan]
pin: extra_mcu:PB0  
fan_speed: 0.5
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 60
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.3
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
heater: extruder


[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12
axes_map: -z,y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
;accel_per_hz:50
min_freq:1
;max_freq:100
;max_smoothing:0.2
;hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = zv
#shaper_freq_x = 63
#shaper_type_y = ei
#shaper_freq_y = 57

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 42.624
#*# pid_ki = 8.119
#*# pid_kd = 55.944
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 54.094
#*# pid_ki = 0.512
#*# pid_kd = 1430.115
#*#
#*# [skew_correction Califlower]
#*# xy_skew = 0.00010030593435317762
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 57.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.6
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 16
#*# calibrate =
#*# 	0.050156:3187112.281,0.090000:3186831.394,0.129844:3186582.143,
#*# 	0.170156:3186327.474,0.210000:3186074.027,0.249844:3185822.528,
#*# 	0.290156:3185546.013,0.330000:3185325.031,0.369844:3185070.129,
#*# 	0.410156:3184857.457,0.450000:3184628.399,0.489844:3184368.204,
#*# 	0.530156:3184165.742,0.570000:3183922.768,0.609844:3183698.875,
#*# 	0.650156:3183491.653,0.690000:3183282.337,0.729844:3183071.561,
#*# 	0.770156:3182873.483,0.810000:3182649.495,0.849844:3182451.293,
#*# 	0.890156:3182253.136,0.930000:3182064.505,0.969844:3181865.868,
#*# 	1.010156:3181664.016,1.050000:3181477.731,1.089844:3181292.497,
#*# 	1.130156:3181101.326,1.170000:3180930.591,1.209844:3180764.320,
#*# 	1.250156:3180573.074,1.290000:3180377.371,1.329844:3180247.252,
#*# 	1.370156:3180082.709,1.410000:3179909.989,1.449844:3179749.984,
#*# 	1.490156:3179596.692,1.530000:3179442.299,1.569844:3179261.168,
#*# 	1.610156:3179114.876,1.650000:3178968.771,1.689844:3178819.929,
#*# 	1.730156:3178687.039,1.770000:3178536.639,1.809844:3178391.985,
#*# 	1.850156:3178268.775,1.890000:3178127.453,1.929844:3177971.587,
#*# 	1.970156:3177838.540,2.010000:3177688.277,2.049844:3177586.088,
#*# 	2.090156:3177454.439,2.130000:3177328.227,2.169844:3177191.743,
#*# 	2.210156:3177071.089,2.250000:3176954.527,2.289844:3176841.812,
#*# 	2.330156:3176727.930,2.370000:3176598.677,2.409844:3176475.704,
#*# 	2.450156:3176388.527,2.490000:3176265.381,2.529844:3176153.549,
#*# 	2.570156:3176030.156,2.610000:3175951.529,2.649844:3175821.658,
#*# 	2.690156:3175725.855,2.730000:3175638.380,2.769844:3175511.451,
#*# 	2.810156:3175426.166,2.850000:3175310.488,2.889844:3175225.971,
#*# 	2.930156:3175128.329,2.970000:3175022.002,3.009844:3174922.766,
#*# 	3.050156:3174847.092,3.090000:3174755.493,3.129844:3174659.437,
#*# 	3.170156:3174562.246,3.210000:3174483.486,3.249844:3174403.793,
#*# 	3.290156:3174305.009,3.330000:3174227.208,3.369844:3174144.004,
#*# 	3.410156:3174051.844,3.450000:3173967.138,3.489844:3173888.153,
#*# 	3.530156:3173819.271,3.570000:3173741.301,3.609844:3173652.252,
#*# 	3.650156:3173576.444,3.690000:3173523.214,3.729844:3173439.992,
#*# 	3.770156:3173353.175,3.810000:3173280.197,3.849844:3173201.656,
#*# 	3.890156:3173136.932,3.930000:3173090.696,3.969844:3172982.964,
#*# 	4.010156:3172922.553,4.050000:3172861.122
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 35.727325
#*# drift_calibration =
#*# 	3189750.569411, -79.364194, -0.445920
#*# 	3185393.878344, -25.756398, -0.812174
#*# 	3182089.698175, 4.769344, -0.979885
#*# 	3179357.541793, 30.570141, -1.133111
#*# 	3177160.488756, 47.940025, -1.219557
#*# 	3175387.351745, 60.925767, -1.290312
#*# 	3173653.885984, 80.463073, -1.423516
#*# 	3172643.283292, 80.364486, -1.393305
#*# 	3171377.076290, 94.882334, -1.493875
#*# drift_calibration_min_temp = 37.309175555925854
#*#

